/* Main color palette */
:root{
    --ufoColor:#44DBA4;
    --darkTheme:black;
    --lightTheme:white;
}
*{ 
    text-decoration: none;
    list-style: none;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: var(--lightTheme);
}
h1{
    font-size: 200%;
    color: var(--lightTheme);
    margin-bottom: 10px;
}
h2{
    font-size: 180%;
}
a{
    cursor: pointer;
}
nav{
    background: var(--ufoColor);
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 10000;
}
/* defines size and position of first logo */
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.headerLogo{
    height: 40px;
}
/* positions and gives styling to main menu */
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: var(--lightTheme);
    font-size: 17px;
    padding: 10px 15px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: var(--darkTheme);
    transition: .5s;
    border-radius: 25px;
}
/* styling for menu button when a smaller screen is displaying the portfolio */
.checkbtn{
    font-size: 30px;
    color: var(--darkTheme);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* styles for header and its content */
header{
    width: 100%;
    height: 300px;
    background: var(--darkTheme);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 100%);
    padding: 5% 10%;
    margin-top: 80px;
}
.btnRound, .btnRound2{
    border: none;
    letter-spacing: 2px;
    background-color: var(--ufoColor);
    color: var(--darkTheme);
    border-radius: 70px;
    text-transform: uppercase;
    font-weight: 500;
}
.btnRound{
    font-size: 18px;
    padding: 15px 25px 15px 30px;
    margin-top: 20px;
    position: absolute;
}
.btnRound i{
    margin-left: 15px;
    font-size: 25px;
}
/* button for contact */
.btnRound2{
    font-size: 15px;
    padding: 10px 15px;
    margin-left: 10px;
}
.btnRound2 a{
    color: var(--darkTheme);
}
/* Flexbox for aligning the sections and its content */
main{
    margin: 40px;
}
section{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.justify-center{
    justify-content: center;
}
.row {
    flex-direction: row;
}
section h2{
    margin-right: 20px;
    text-align: right;
    width: 20%;
}
aside{
    border-left: 2px solid var(--ufoColor);
    display: flex;
    width: 80%;
    align-items: center;
    padding: 0 15px;
}
aside p{
    font-weight: 200;
}
.profilePic{
    width: 150px;
    height: 150px;
    clip-path: circle(50% at center);
    margin-right: 20px;
}
/* Stylying for Work section, I used grid to display my projects easily */
.grid-container{
    display: grid;
    grid-template-columns: 50%;
    grid-auto-rows: minmax(150px, auto);
    grid-gap:10px;
}
.grid-item{
    position: relative;
}
 .grid-container img{ 
    width: 100%;
    height: 300px;
    object-fit: cover;
} 
.grid-item-1{
    grid-column: span 2;
}
.grid-item-2{
    grid-row: span 1;
}
.grid-item-3{
    grid-row: span 1;
}
.grid-item-4{
    grid-row: span 1;
}
.grid-item-5{
    grid-row: span 1;
}
.overlay{
    position: absolute;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.8); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: var(--lightTheme);
    font-size: 20px;
    text-align: center;
    height: 300px;
}
.grid-item:hover .overlay {
    opacity: 1;
}
.grid-item h3{
    position: relative;
    top:130px;
}
/* styling for Contact section */
label{
    display:inline-block;
}
input, textarea{
    padding: 7px;
    color: var(--ufoColor);
    width: 600px;
    font-weight: 200;
}
form ul li{
    margin:10px;
}
/* Style for footer and its content */
footer{
    background-color: var(--darkTheme);
    padding: 10px;
}
footer p{
    text-align: center;
    color: var(--lightTheme);
}
/* Media queries for menu on mobile */
@media  (max-width: 952px){
    .enlace{
        padding-left:20px;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media  (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--ufoColor);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        font-weight: bold;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: var(--darkTheme);
    }
    #check:checked ~ ul{
        left: 0;
    }
    input, textarea{
        width: 100%;
    }
}
@media  (max-width: 700px){
    section #work{
        align-items: start;
    }
    aside{
        display: flow;
        border-bottom: 2px solid var(--ufoColor);
        width: 100%;
        padding-bottom: 15px;
    }
    section{
        display: block;
    }
    section h2 {
        text-align: left;
        width: 100%;
        margin-bottom:15px ;
    }
    .grid-container{
        display: block;
    }
    .grid-item{
        margin-top: 20px;
    }
    #resume aside{
        display: flex;
    }
}